header {
    .image {
        background-image: url('../../images/eyecatch.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
        position: relative;

        &__text {
            font-size: 3.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .image::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 0 20px 15px white;
    }

}

@media (min-width: 1280px) {
    header {
        .image {
            &__text {
                font-size: 8rem;
            }
        }
    }
}