html {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 16px;
}

#site .caution {
  font-size: 0.8rem;
}

#about table {
  font-size: 1.5rem;
  margin: auto;
}

#about table th, #about table td {
  padding: 10px;
}

.style-wrapper {
  border-radius: 10px;
}

.wrapper a img {
  width: 100%;
  height: 350px;
}

a {
  cursor: pointer;
}

button {
  outline: none;
}

h1 {
  font-family: 'Rampart One', cursive;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Rampart One', cursive;
  font-size: 3rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-color-grey {
  background-color: whitesmoke;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrapper {
  margin: 3vw;
}

.top-bottom-wrapper {
  margin: 3vh 0;
}

.image-wrapper {
  margin: 1vw 0;
}

.style-wrapper {
  padding: 3px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gap {
  gap: 30px 20px;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.x-scroll {
  overflow-x: scroll;
}

.grid {
  display: -ms-grid;
  display: grid;
}

header .image {
  background-image: url("https://github.com/a2o23rhgojn3/portfolio/blob/master/images/eyecatch_1280x672.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 630px;
  position: relative;
}

header .image__text {
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1280px) {
  header .image {
    background-image: url("https://github.com/a2o23rhgojn3/portfolio/blob/master/images/eyecatch_1980x1040.png?raw=true");
    height: 1040px;
  }
  header .image__text {
    font-size: 8rem;
  }
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sns .fa-brands {
  font-size: 4rem;
  padding: 5px;
}

#copyright {
  padding: 15px;
  text-align: right;
}

.opacity-cover {
  position: relative;
}

.opacity-cover::after {
  content: "SHOW MORE";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.opacity-cover:hover::after {
  opacity: 0.6;
}

@media (min-width: 600px) {
  html {
    font-size: 25px;
  }
  .content {
    width: calc((100% - 20px * 1) / 2);
    padding: 20px;
    height: auto;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 30px;
  }
  .content {
    width: calc((100% - 20px * 2) / 3);
    padding: 20px;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */