html {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 16px;
}
#site {
    .caution {
        font-size: 0.8rem;
    }
}
#about {
    table {
        font-size: 1.5rem;
        margin: auto;
        th, td {
            padding: 10px;
        }
    }
}
// component
.style-wrapper {
    border-radius: 10px;
}
.wrapper {
    a {
        img {
            width: 100%;
            height: 350px;
        }
    }
}